---
import Base from "../layouts/Base.astro";
import projects from "../assets/projects.json";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { sortByDatePosts as sortByDate } from "../utils.ts";

const posts = await getCollection("blog");

const hasBlogs = posts;
const hasProjects = projects.length > 0;
---

<Base>
  <main class="flex-1">
    <div class="md:grid md:grid-flow-col gap-4 flex flex-col">
      <div class="rounded-md p-4">
        <p class="m-0">
          Hi, I'm <span class="text-accent">Bipo</span>. I'm an 19 y/o software
          developer. I enjoy building stuff and read about art and history.
        </p>
      </div>

      <div class="p-4 flex flex-col gap-4 col-span-2">
        <h2 class="text-xl m-0">Projects</h2>
        <div class="flex gap-4 flex-wrap md:flex-nowrap">
          {
            projects
              .filter((post) => post.pinned)
              .slice(0, 4)
              .map((project) => <ProjectCard {project} />)
          }
        </div>
        <a
          href="/projects"
          class="lk-base text-left underline"
          class:list={[{ hidden: !hasProjects }]}>All projects &rarr;</a
        >
      </div>

      <div class="row-span-2 p-4 flex flex-col gap-4">
        <h2 class="text-xl m-0">Blog</h2>
        <div class="flex flex-col gap-8">
          {
            sortByDate(posts)
              .slice(0, 4)
              .map((post) => (
                <>
                  <div class="flex flex-col gap-2">
                    <a href={`blog/${post.slug}`} class="underline">
                      {post.data.title}
                    </a>
                    <span class=" text-sm">{post.data.date}</span>
                    <p class=" line-clamp-2 m-0 text-ellipsis md:line-clamp-1">
                      {post.data.description}
                    </p>
                  </div>
                </>
              ))
          }

          <a
            href="/blog"
            class="lk-base text-left underline"
            class:list={[{ hidden: !hasBlogs }]}>All posts &rarr;</a
          >
        </div>
      </div>
    </div>
  </main>
</Base>
